<div id="homenav" class="homenavigation">
  <mat-toolbar color="primary">
    <span class="logo">JobPortal</span>
    <div class="spacer"> </div>
    <a mat-button routerLink="/latestjob">Job</a>
    <a mat-button routerLink="/companies">Companies</a>
    <a mat-button routerLink="/login" *ngIf="!userLoggedIn">Login</a>
    <a mat-button routerLink="/registration" *ngIf="!userLoggedIn">Registration</a>
    <a mat-button (click)="logout()" *ngIf="userLoggedIn">Logout</a>
  </mat-toolbar>
</div>
<div id="routeplaceholder">
  <router-outlet></router-outlet>
</div>